<h2>Index</h2>

<table border='1'>
  <tr>
    <th>Full name</th>
    <th>Phone</th>
  </tr>

  {{#each contact in controller}}
    <tr>
      <td>{{#link-to 'contact' contact}}{{contact.firstName}} {{contact.lastName}}{{/link-to}}</td>
      <td>{{contact.phone}}</td>
    </tr>
  {{/each}}
</table>
