<h2>Index</h2>

<table>
  <tr>
    <th>Full name</th>
    <th>Phone</th>
  </tr>

  {{#each controller.model itemController='contact' as |contact| }}
    <tr>
      <td>{{#link-to 'contact' contact.model}}{{contact.fullName}}{{/link-to}}</td>
      <td>{{contact.model.phone}}</td>
    </tr>
  {{/each}}
</table>
