
<label>Name</label>
{{input value=controller.model.firstName}}

<label>Surname</label>
{{input value=controller.model.lastName}}

<label>Phone</label>
{{input value=controller.model.phone}}

<button {{action 'save'}}> save </button>
