<h2>Edit</h2>

<label>Name</label>
{{input value=model.firstName}}

<label>Surname</label>
{{input value=model.lastName}}

<label>Phone</label>
{{input value=model.phone}}

<button {{action 'save'}}> save </button>
