<h2>Contact</h2>

<div>
  {{#link-to 'contact.edit' model}}Edit{{/link-to}}
  <br/>
  <label><b>Name:</b></label>
  <p>{{model.firstName}}</p>

  <label><b>Surname:</b></label>
  <p>{{model.lastName}}</p>

  <label><b>Phone:</b></label>
  <p>{{model.phone}}</p>
</div>
