<!DOCTYPE html>
<html>
<head>
  <title>Ember contacts</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag 'application' %>
  <div id='ember-app'></div>
</body>
</html>
